.Header1{
display: flex;
justify-content: space-evenly;    
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}.Header1 .Header3{
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: white;
padding: 30px;
transition: all 1500ms ease ;
}.Header1 .Header3:hover{
transform: scale(1.3,1.3); 
color: rgb(255, 0, 0);   
}