.Menu1{
margin: 0;
min-height: 120vh;
 background: url('../Assets/MenuBackground.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 background-attachment: fixed;
 display: flex;
 flex-direction: column;
}.Menu1 .Menu2{
  flex: 1;  
}.Menu1 h1{
color: white;
text-align: center;
font-weight: bold;
}.Menu2 .burger-images{
height: 250px;
width: 250px;
border-radius: 20px;
box-shadow: 5px 5px 5px black;
}.Menu2 p{
color: white;

}.Menu2{
background: rgb(0, 0, 0);
width: 350px;
border-radius: 20px;
}